body {
	background-color: lightgrey;
	border: 20px solid green;
	padding: 25px;
	margin: 5px;
	width: 100%-5px;
	height: HV;
}
.szerK{
	width: 160px;
}
.przewijak{
	 width: 700px;  
  overflow: auto;
}

table, th, td{
    border: 1px solid blue;
}
@media screen and (max-width:1920px) {
    table tr > *{
        display: block;
    }
    table tr {
        display: table-cell;
    }
}