/* @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

body {
   /* font-family: 'Berkshire Swash', cursive;*/
   font-family: 'Ubuntu', sans-serif;
   background-color: rgb(235, 231, 231);    
}
header {
    font-variant: small-caps;
}
header a {
    text-decoration: none;
    color: black;
}

.wstopce{
 margin-left: 5px;
 margin-right: 5px;
 padding-left: 3px;
 padding-right: 3px;
 font-variant: small-caps;
 color: rgba(255, 255, 255, 0.76);
 text-decoration: none;
} 
.wstopce:hover{
    
    color: rgb(228, 224, 13);
    text-decoration: none;
   } 
.stopka {
    text-align: center;
    background: black;
    box-shadow: 0 0 4px 1px rgb(0, 0, 0);
    color: white;
    height: 45px;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    left: 0;
    right: 0;
}
.dach{
    text-align: center;
    background: white;
    box-shadow: 0 0 4px 1px white;
    height: 35px;
    position: fixed;
    left: 0;
    right: 0;    
    top: 0;
    z-index: 70;
}
/* \/ SEKCJE FILEDEST z LEGENDA /\ */
.sekcja_fieldset{
    background-color: white;
    border: 0px;
    border-radius:  10px;
    margin: 25px 35px 25px 35px;
    transform: skew(2deg);
    padding: 0px 10px 0px 10px;
    box-shadow: 0 0 25px 0.2px rgba(90, 90, 90, 0.623), 0 0 8px 2px rgba(3, 3, 3, 0.432) inset;
}
.sekcja_fieldset:hover{
    animation: skew 10s infinite;
    transform: skew(0deg);
    animation-direction: alternate;
}
.sekcja_fieldset_legend{
    text-align: left;
    background-color: white;    
    padding-left: 7px;
    padding-right: 7px; 
    font-size: 20px;    
    font-variant: small-caps;
    box-shadow: 3px 2px 1px -1px rgba(3, 3, 3, 0.432) inset, -1px -3px 8px 1px rgba(90, 90, 90, 0.623);        
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;  
     

}
#sekcja_fieldset_legend1{
    
    transform: rotate(-90deg) translateY(-120px) translateX(-130px) skewX(-25deg); 
}
#sekcja_fieldset_legend3{
    transform: rotate(-90deg) translateY(-200px) translateX(-210px) skewX(-25deg); 

}
.sekcja_fieldset_div{
    padding: 1px;
    margin: 1px;
   
}
#sekcja_fieldset_div1{

}
#sekcja_fieldset_div3{
    min-height: 400px;
}
.styltekstuH2{
    font-variant: small-caps;
    text-align: center;
    font-size: 30px;
    padding: 4px;
    margin: 0px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px -1px rgba(92, 92, 92, 0.616);
}
.LEGENDA_FILEDEST{   
    text-align: center; 
    font-variant: small-caps;
    font-size: 30px;
    padding: 4px;
    margin: 0px;
    width: 95%;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px -1px rgba(92, 92, 92, 0.616);
    
    border-radius: 10px;
    box-shadow: 0 0 25px 0.2px rgba(90, 90, 90, 0.623), 0 0 8px 2px rgba(3, 3, 3, 0.432) inset;
}

LEGENDA_FILEDEST:active{
    background: rgb(0, 0, 0);
    color: white;
}
#LEGENDA_FILEDEST_wyjasnienie:hover{
    background: rgb(19, 100, 223);
    color: white;
}
#LEGENDA_FILEDEST_historia:hover{
    background: rgb(122, 103, 85);
    color: white;
}
#LEGENDA_FILEDEST_podajKOD:hover{
    background: blanchedalmond;
    
}
#LEGENDA_FILEDEST_generuj:hover{
    background: rgb(7, 133, 7);
    color: white;
}
#LEGENDA_FILEDEST_grafSTOSUNKU:hover{
    background: blanchedalmond;
}


/* /\ SEKCJE FILEDEST z LEGENDA /\ */

.flex_lam{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: baseline;
    align-content: flex-start;
    margin-top: 20px;
    width: 75%;
}
.grupa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}
.grupaPLEC {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin:2px;
}
.opisP{
    color: white;
    background-color: black;    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -1px;
    padding-bottom: 10px;
    border-radius: 0;
    border: 0;
    font-size: 20px;  
    font-weight: 900;
    height: 20px; 
    text-align: center;
    width: 20px;
}
.opisP:hover {
    background-color: darkred;
    color: white; 

}
.obiektP{
    padding: 5px 10px;
    color: white;
    background-color: rgb(235, 231, 231);
    height: 20px;
    width: 20px;   
    text-align: center;
    border-bottom: solid rgb(235, 231, 231) 3px;
    border-top: solid rgb(235, 231, 231) 3px;
}
.obiektP:hover{
    border-bottom: solid rgb(212, 20, 20) 3px;
    border-top: solid rgb(212, 20, 20) 3px;
}


.obiektP input {
margin-left: 3px;
}
.grupaLICZBA {    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin:2px;
    width: 80px
}
.klawisz {
    background-color: rgb(235, 231, 231);
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border: 0px;
    height: 33px;
    font-family:  'Ubuntu', sans-serif;
}
.klawisz:hover {
    background-color: black;
    color: white;    
    transition: 0.4s all linear;
}
.klawisz:active {
    color: red;    
    transition: 0.4s all linear;
}
.klawiszG{
    width: 33.333%;
   
    
}
.klawiszD {
    width: 50%;   
    margin-top: -3px;
}
.nazwa {
    background-color: black;
    color: white; 
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 100%;
    height: 25px;
    text-align: center; 
}
.nazwa:hover {
    background-color: darkred;
    color: white; 

}
.wartosc {
    background-color: rgb(235, 231, 231);
    color: black;
    width: 100%;
    height: 22px;
    text-align: center; 
    margin-top: -3px;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 4px;
    border: 2px solid #999;
    border-radius: 50%;
    z-index: 10;
}
.wartosc:hover {
    color: rgb(212, 20, 20);
}
.grupy_wartosci{
    border-bottom: solid rgb(235, 231, 231) 3px;
    border-top: solid rgb(235, 231, 231) 3px;
}
.grupy_wartosci:hover{
    border-bottom: solid rgb(212, 20, 20) 3px;
    border-top: solid rgb(212, 20, 20) 3px;
}

.info {
    color:darkred;
    font-weight: 600;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin-left: 40%;
}
.info:hover {
    background-color:darkred;
    color: white;
    transition: 0.6s all linear;
    
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.info:active {
    background-color:darkblue;
    
    transition: 0.3s all linear;
}
.kolor {
    background-color: rgb(235, 231, 231);
}
.inputy_gr{
    border: solid 25px black;
    padding: 0px;   
    margin: 4px 4px 30px;
    border-radius: 5px;
    
}
.inputy_gr1{
    width: 296px;

}
.inputy_gr23{
    width: 252px;
    
}
.inputy_gr legend{
    text-align: left;
    background-color: black;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    transform: skewY(-6deg);
    transform-origin: top left;
    border-top-left-radius:  10px;
    border-top-right-radius:  3px;
}
.alternatywne{
    padding: 5px;
    background-color: rgb(235, 231, 231);
    margin: 1px 2px 2px;
}
.alternatywne:hover{
    background-color: rgb(238, 66, 66);
    transition: 0.4s all linear;
}
.alternatywne2{
    padding: 5px;
    background-color: rgb(235, 231, 231);
    margin: 1px 2px 2px;
}
.alternatywne2:hover{
    background-color: rgb(66, 198, 238);
    transition: 0.4s all linear;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
  
    position: relative;
    top: 0px;
    
  }
  input:checked {
    border: 6px solid black;
  }

  label {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;  
  }  
  .getKREWNY {
    width: 50px; 
    text-align: right;
    font-weight: 600;
    font-size: 14px; 
  }
  .outKREWNY {
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-top: 20px;
    padding: 10px;
  }
  .outKREWNY:hover {
      background-color: rgb(243, 243, 231);
  }
  .getKREWNY:focus {
      color: red;
      border: white;      
    font-size: 18px;
    width: 65px; 
  }